bazel-*
dist
node_modules
.clwb
.ijwb
public/build
.DS_Store
/public/build/
/pkg/
/dasch-service-platform.code-workspace
public/admin/build
/public/admin/build
public/metadata/build
/public/metadata/build
