@import url(assets/fonts/Roboto/stylesheet.css);

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --dasch-violet: #5949a7;
  --dasch-light-violet: #D6D2E9;
  --dasch-text: #3f3f40;
  --dasch-grey-1: #888b8d;
  --dasch-grey-2: #dddede;
  --dasch-grey-3: #f1f1f1;
  --dasch-grey-4: #fcfcfc;
  --cl-background: #cccccc;
  --cl-background-light: #dddddd;
  --cl-background-dark: #aaaaaa;
  
  --cl-transparent-dark: rgba(0, 0, 0, 0.2);
  --cl-transparent-light: rgba(255, 255, 255, 0.3);

  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0px 2px 4px -1px rgba(0,0,0,0.3);

  --lead: var(--dasch-violet);
  --second: #236623;
  /* --second: #A75949; */

  --lighter-dark: #3F3F40;
  --darker-dark: #282828;
}

body {
  display: flex;
  flex-direction: column;
  color: var(--dasch-text);
  margin: 0;
  box-sizing: border-box;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; */
  font-family: 'robotoregular';
  font-style: normal;
  font-weight: normal;
  color: var(--darker-dark);
}

.hidden {
  display: none;
}

a {
  /* text-decoration: none; */
  color: var(--lead) !important;
  width: fit-content;
}

a:visited {
  color: inherit;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: var(--dasch-light-violet);
}
button:focus {
  color: #fff;
  background-color: var(--lead);
}
button:disabled {
  cursor: not-allowed;
}
.icon {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.25rem;
}


.top-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  padding: 0 16px;
}
.new-section-title {
  font-size: 1.5rem;
  line-height: 1;
  padding: 0 16px;
}
.new-section-subtitle {
  font-family: robotobold;
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0.8px;
  padding: 0 8px;
}
.new-text, .new-link, .data, .abstract {
  font-size: 1rem;
  line-height: 1.25;
}
.new-link {
  color: var(--lead);
}
.new-label, .label {
  font-size: 1rem;
  font-family: robotobold;
  color: var(--lighter-dark);
  padding: 0;
}
.new-keyword, .keyword {
  font-family: robotolight;
  font-size: 1rem;
  line-height: 1.25;
  padding: 4px;
  letter-spacing: 0.4px;
}

/* remove outline but not for moblie devices */
@media screen and (max-width: 991px) {
  input:focus, button:focus {
    outline: none;
  }
}

@media screen and (min-width: 576px) {
  .xs-inline-block {
    display: inline-block !important;
  }
  .xs-hidden {
    display: none !important;
  }
  body {
    /* background-color: lawngreen !important; */
  }
}

@media screen and (min-width: 768px) {
  .s-inline-block {
    display: inline-block !important;
  }
  .s-hidden {
    display: none !important;
  }
  body {
    /* background-color: gold !important; */
  }
}

@media screen and (min-width: 992px) {
  .m-inline-block {
    display: inline-block !important;
  }
  .m-hidden {
    display: none !important;
  }
  body {
    /* background-color: cornflowerblue !important; */
  }
}

@media screen and (min-width: 1200px){
  .l-inline-block {
    display: inline-block !important;
  }
  .l-hidden {
    display: none !important;
  }
  body {
    /* background-color: magenta !important; */
  }
}

@media screen and (min-width: 1280px){
  .xl-inline-block {
    display: inline-block !important;
  }
  .xl-hidden {
    display: none;
  }
  body {
    /* background-color: olivedrab !important; */
  }
}
