html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

:root {
  --cl-background: #cccccc;
  --cl-background-light: #dddddd;
  --cl-background-dark: #aaaaaa;
  
  --cl-text: #333;
  
  --cl-transparent-dark: rgba(0, 0, 0, 0.2);
  --cl-transparent-light: rgba(255, 255, 255, 0.3);
}

body {
  display: flex;
  flex-direction: column;
  color: var(--cl-text);
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.hidden {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

input:focus {
  outline: none;
}

@media screen and (min-width: 576px) {
  .xs-inline-block {
    display: inline-block !important;
  }
  .xs-hidden {
    display: none !important;
  }
  body {
    /* background-color: lawngreen !important; */
  }
}

@media screen and (min-width: 768px) {
  .s-inline-block {
    display: inline-block !important;
  }
  .s-hidden {
    display: none !important;
  }
  body {
    /* background-color: gold !important; */
  }
}

@media screen and (min-width: 992px) {
  .m-inline-block {
    display: inline-block !important;
  }
  .m-hidden {
    display: none !important;
  }
  body {
    /* background-color: cornflowerblue !important; */
  }
}

@media screen and (min-width: 1200px){
  .l-inline-block {
    display: inline-block !important;
  }
  .l-hidden {
    display: none !important;
  }
  body {
    /* background-color: magenta !important; */
  }
}

@media screen and (min-width: 1280px){
  .xl-inline-block {
    display: inline-block !important;
  }
  .xl-hidden {
    display: none;
  }
  body {
    /* background-color: olivedrab !important; */
  }
}


/* a {
  color: rgb(0,100,200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

label {
  display: block;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */
